.container {
  border-radius: 10px;
  text-align: center;
  background-color: #ca7676;
  margin: 0 auto;
  width: 50%;
  border: #945656 solid 2px;
  margin-top: 10%;
}

.tools {
  border-radius: 10px;
  text-align: center;
  background-color: #ca7676;
  margin: 0 auto;
  width: 50%;
  border: #945656 solid 3px;
  margin-top: 10px;
}

@keyframes rainbow-text {
  0% {
    color: #22277a;
  }
  14.28% {
    color: #4066e0;
  }
  28.56% {
    color: #b9bfff;
  }
  42.84% {
    color: #8b74bd;
  }
  57.12% {
    color: #7953a9;
  }
  71.4% {
    color: #663399;
  }
  85.68% {
    color: #52099b;
  }
  100% {
    color: #22277a;
  }
}

#instruction {
  animation-name: rainbow-text;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 20px;
  margin: 1em;
  font-weight: bold;
}
/* half of this class tag is in the html file already */

@keyframes wave {
  0% {
    transform: translateX(-10);
  }
  25% {
    transform: translateX(20px) rotate(5deg);
  }
  50% {
    transform: translateX(10) rotate(-5deg);
  }
  75% {
    transform: translateX(-20px) rotate(-5deg);
  }
  90% {
    transform: translateX(-10);
  }
  100% {
    transform: translateX(-5);
  }
}

#product {
  width: 50%;
  border: #945656 solid 3px;
  border-radius: 10px;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #945656;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.1em;
}

#enter {
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #945656;
  color: #945656;
  border: #945656 solid 4px;
  height: 40px;
  width: 140px;
}

input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
}

label {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

div#output {
  display: none;
  border: #945656 solid 2px;
  margin: 3%;
}

div {
  border: #945656 solid 2px;
  margin: 5%;

  font-size: 1.4rem;
}
